<mat-toolbar class="mat-toolbar">
    <div class="left-section">
        <h1><a class="home-item" href="#">Portafolio</a></h1>
    </div>
    <div class="items-section">
        <span><a class="menu-item" (click)="moveTo('Inicio')">Inicio</a></span>
         <span class="menu-item" (click)="moveTo('Servicios')">Servicios</span>
        <span class="menu-item" (click)="moveTo('Proyectos')">Proyectos</span>
        <span class="menu-item" (click)="moveTo('Contacto')">Información de contacto</span>
    </div>
</mat-toolbar>

