<mat-card class= "main-project-card card-background">
  <img mat-card-image class="card-background" src="images/observatorio-upnfm-imagen.png" alt="UPNFM website">
  <div>
  <mat-card-title class="card-background white-txt padding-card">Shiba Inu</mat-card-title>
  <mat-card-subtitle class="card-background white-txt padding-card">Dog Breed</mat-card-subtitle>
  <mat-card-actions class="card-background white-txt">
    <button mat-button class="btn-outline  top-margin btn-width-responsive"><p>Ver</p>  <mat-icon class="icon-link">open_in_new</mat-icon></button>
  </mat-card-actions>
  </div>
</mat-card>
