.cardShape {
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #F4F4F4 !important;
    width: 350px;
    height: auto;
    padding-top:200px;
    margin-left:0px !important;
    margin-right: 0px !important;
}
.cardShape {
  transition:
    background-color 250ms ease,
    color 250ms ease,
    transform 200ms ease,
    box-shadow 200ms ease;
}

.image-spacing{
    margin-bottom: 25px !important;
}